<!-- nav bar -->
<div id="header">
    <div id="navbar">
        <a id="navbar-logo" href="#">詮中食品目錄</a>
        <div></div>
        <div id="hamburger-menu" onclick="toggleHamburgerMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="menu-overlay">
        <!-- {% for item in site.data.navbar-data %} -->
        <a href="{{ item.link }}">{% if page.url==item.url %} &#9654;{% endif %}{{ item.name }}</a>
        <!-- {% endfor %} -->
    </div>
</div>