doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Eric's Blog

        link(rel='icon', type='image/x-icon', href='assets/logo.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                img(src="assets/logo.png" width="50" height="50")
                a.navbar-brand(href='index.html') Eric Wu 
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href='index.html') Home
                        li.nav-item
                            a.nav-link(href='about.html') About
                        li.nav-item
                            a.nav-link(href='project.html') Project
                        li.nav-item
                            a.nav-link(href='contact.html') Contact
        // Page Header
        header.masthead(style="background-image: url('assets/img/about-bg.jpg')")
            .overlay
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        .page-heading
                            h1 About Me
                            span.subheading This is what I do.
        // Main Content
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    h2(style="color:DodgerBlue;").section-heading Background
                    p
                        | Eric Wu is a network security student and software developer
                        | who graduated from BCIT with a Diploma of Technology,
                        | Cloud computing option]in 2018, and a Bachelor of Technology,
                        | Network Security Application option in 2021. He has diverse
                        | experience in programming language, including #[strong Python], #[strong C/C++]
                        | , #[strong Java], #[strong JavaScript], #[strong HTML], #[strong CSS], #[strong Assembly].
                        br
                        | Also, he is capable of working on both Linux or Windows environments
                    
                    h3(style="color:DodgerBlue;") Education
                    pre
                        | 2016 - 2018 <u>BCIT</u>
                        |             Computer Systems Technology (Cloud Computing Option)
                        |             Diploma
                        | 2019 - 2021 <u>BCIT</u>
                        |             Computer Systems Technology (Network Security Option)
                        |             Bachelor
                        | 2016 - 2016 <u>National Taiwan University</u>
                        |             C/C++ Certification course
                        |             Certificate

                    h3(style="color:DodgerBlue;") Work Experience
                    pre
                        | 2020 - 2020   <u>Freelance Android Application developer</u>
                        |             * Prototyping an application that automates 
                        |               the process of switching Wi-Fi access points
                        |               under the same Wi-Fi network. 
                        |             * Develop a custom setup wizard that simplifies 
                        |               the process of setting up a new android device 
                        |               after a factory reset
                        |
                        | 2017 -2017    <u>Intern, Micro-Star International Taiwan</u>
                        |             * Test in house custom embedded system.
                        |             * Develop sample software that can be used to
                        |               demonstrate the embedded system to the customer.
                        |             * General debugging and error fixing
                        |
                        | 2016 -2016    <u>Project manager/backend developer, BCIT Practicum</u>
                        |             * Digitize a custom board game provided by the client.
                        |               The game was developed solely in Java.
                        |             * General project management tasks including meeting
                        |               scheduling, work breakdown, or communication with
                        |               the client.

                    h3(style="color:DodgerBlue;") Related Team Projects
                    pre
                        | 2017  <u>Pocket Pantry</u>
                        | 
                        | Pocket Pantry is a web app written in javaScript, HTML and CSS.
                        | The app also uses Firebase as backend database. This online 
                        | portal allows users to keep track of groveries in the fridge.
                        | in addition, users can input some food ingredients to get a 
                        | list of the recommended dish that can be made out of these 
                        | ingredients.
                        |
                        | 2018  <u>MiSDIRECTION</u>
                        | 
                        | MiSDIRECTION is a trun-based board game written in Java. The 
                        | game allows up to 4 players to participate at the same time.
                        | If there are less then 4 players, the game will spawn 2 AI to 
                        | fill in the spot.
                        |
                    p
                        | more can be found in this link
                        a(href='https://ericwu1997.github.io/project.html' style="color:blue;") ericwu1997.github.io/project.html 

                    
        hr
        // Footer
        footer
            .container
                .row
                    .col-lg-8.col-md-10.mx-auto
                        ul.list-inline.text-center
                            li.list-inline-item
                                a(href='https://linkedin.com/in/ericwu1997')
                                    span.fa-stack.fa-lg
                                        i.fas.fa-circle.fa-stack-2x
                                        i.fab.fa-linkedin.fa-stack-1x.fa-inverse
                            li.list-inline-item
                                a(href='https://github.com/ericwu1997')
                                    span.fa-stack.fa-lg
                                        i.fas.fa-circle.fa-stack-2x
                                        i.fab.fa-github.fa-stack-1x.fa-inverse
                        p.copyright.text-muted Copyright &copy; Your Website 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
