extends template.pug

block info
    - var main_title = "DNS Spoofing Application"    
    - var sub_title = "Design & implement a basic DNS spoofing application"
    - var banner = "../assets/img/dns-spoofing-application/banner.jpg"
    - var date = "November 10, 2020"

block content
    article
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    h2.section-heading Objective
                    p To design a basic DNS spoofing application
                
                    h2.section-heading Constraints
                    ul
                        li 
                            | The application will simply sense an HTML DNS Query and
                            | respond with a crafted Response answer, which will direct the 
                            | target system to specific websites (such as the attacker's web
                            | server)
                        li 
                            | The application should be able to handle any arbitrary domain
                            | name string and craft a spoofed Response.
                    
                    h2.section-heading Approach
                    p
                        | We will use the python library Scapy to implement DNS spoofing 
                        | application. There will be two components in this application.
                        | One of them is responsible for running ARP poisoning. The other
                        | is responsible for sniffing/crafting DNS responses/answers. To
                        | make the application more customizable, we will have the application
                        | read the intended spoofing Domain name/IP pair from a configuration file
                    p
                        | In order to prevent the victim's machine from receiving legitimate DNS
                        | answers, the application will impose a blocking rule on the forwarding 
                        | table. Any DNS answer from the outside network destined to the victim's 
                        | machine will be dropped. However, network traffic capturing happens
                        | before the firewall, therefore, the sniffing component will still be
                        | able to pick up the DNS answer before it gets dropped. After the application
                        | picks up the DNS answer, it will compare it with the domain name specified
                        | in the configuration file. If there's a match, the application will craft a
                        | spoofed DNS answer that directs the victim's browser to the attacker's 
                        | web server, and send the crafted DNS answer to the victim. If there's no match
                        | , the application will simply send the original DNS answer back to the victim's 
                        | machine.
                    p
                        | The figures below show a high level overview of the two components.
                    img.img-fluid(src="../assets/img/dns-spoofing-application/spoofing-process.jpg", alt='...')
                    img.img-fluid(src="../assets/img/dns-spoofing-application/overview-sniffing.jpg", alt='...')

                    h2.section-heading Application Design
                    p
                        | #[strong Modules]
                        br
                        | The application consists of four parts - #[strong sniff.py], #[strong arpspoof.py]
                        | , #[strong config.txt], and #[strong dns_spoof.sh]
                    ul
                        li 
                            | #[strong sniff.py] - an independent program. Responsible for sniffing the victim's
                            | DNS request and crafting spoofed DNS answers.
                        li
                            | #[strong arpspoof.py] - an independent program. Responsible for running ARP poisoning.
                            | Reads from config.py to determine ARP spoofing targets.
                        li
                            | #[strong config.py] - a configuration file. Has two objects - host_info and dns_host
                            | . The host_info object includes information required by #[strong sniff.py]. The dns_host
                            | object is simply a list of domain names/IP pairs, which is required by the #[strong arpspoof.py]
                            | . Detailed information about this config file can be found at the Usage section below.
                        li
                            | #[strong dns_spoof.sh] - application entry point. A simple bash script that runs both
                            | #[strong sniff.py] and #[strong arpspoof.py] in background, and waits for any user input.
                            | When a key is entered, the bash process will kill the sniff.py and arpspoof.py running in
                            | background, then exit.

                    h2.section-heading State machine
                    img.img-fluid(src="../assets/img/dns-spoofing-application/state-machine-1.jpg", alt='...')
                    img.img-fluid(src="../assets/img/dns-spoofing-application/state-machine-2.jpg", alt='...')

                    h2.section-heading Pseudo implementation
                    img.img-fluid(src="../assets/img/dns-spoofing-application/pseudo-1.jpg", alt='...')
                    img.img-fluid(src="../assets/img/dns-spoofing-application/pseudo-2.jpg", alt='...')
                    img.img-fluid(src="../assets/img/dns-spoofing-application/pseudo-3.jpg", alt='...')
                    img.img-fluid(src="../assets/img/dns-spoofing-application/pseudo-4.jpg", alt='...')

                    h2.section-heading Usage
                    p
                        | #[strong Step 1]
                        br
                        | Open the config.py, fill in the info for each key-value pair in host_info object.
                    ul
                        li
                            | victimIP - IP of the victim's machine. Must be the IP of the same network.
                            | routerIP - IP of the router in the same network.
                            | routerMAC - MAC address of the reouter in the same network
                            | victimMAC - MAC address of the victim's machine in the same network
                            | attackerMAC - MAC address of the attacker's machine in the same network
                            | Interface - name of the NIC to use
                    p
                        | Do the same for the dns_host object. This object includes the Domain names we
                        | want to spoof. Make sure to add a 'period' at the end of every domain name.
                    img.img-fluid(src="../assets/img/dns-spoofing-application/usage.jpg", alt='...')    

                    p
                        | #[strong Step 2]
                        br
                        | To start the DNS spoofing application, cd into the application folder, and simply 
                        | run the bash script #[strong dns_spoof.sh]. As shown in the pseudo implementation
                        | section above, the scripts will automatically start bath the packets sniffing and 
                        | ARP poisoning program.
                    
                    h2.section-heading Source code
                    p
                        | The project source code can be found 
                        a(href='https://github.com/ericwu1997/dns-spoofing-application' style="color:blue;") here
                        |.

                    h2.section-heading Testing
                    img.img-fluid(src="../assets/img/dns-spoofing-application/test.jpg", alt='...')    


                        